[project]
	description = Simple OS-like program for x86-64.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Semion Prikhodko (ababo)
[access "refs/for/refs/*"]
	read = group user/Semion Prikhodko (ababo)
	push = group user/Semion Prikhodko (ababo)
	label-Code-Review = -2..+2 group user/Semion Prikhodko (ababo)
	label-Verified = -1..+1 group user/Semion Prikhodko (ababo)
	rebase = group user/Semion Prikhodko (ababo)
	removeReviewer = group user/Semion Prikhodko (ababo)
	submit = group user/Semion Prikhodko (ababo)
[access "refs/heads/*"]
	read = group user/Semion Prikhodko (ababo)
	create = group user/Semion Prikhodko (ababo)
	push = +force group user/Semion Prikhodko (ababo)
	pushMerge = group user/Semion Prikhodko (ababo)
[access "refs/tags/*"]
	push = +force group user/Semion Prikhodko (ababo)
	pushTag = group user/Semion Prikhodko (ababo)
	pushSignedTag = group user/Semion Prikhodko (ababo)
